.banner{
    margin-top: 50px;
    &__content{
        height: 450px;
        width: 100%;
        border-radius: 15px;
        padding: 100px 0 140px 100px;
        &.first{
            background: url(../assets/banner1.jpg) center/cover no-repeat;
            background-color: rgba(0, 0, 0, 0.7);
            background-blend-mode: overlay;
        }
        &.second{
            background: url(../assets/women.jpg) center/cover no-repeat;
            background-color: rgba(0, 0, 0, 0.7);
            background-blend-mode: overlay;
        }
        &-title{
            font-style: normal;
            font-weight: 400;
            font-size: 40px;
            line-height: 135.3%;
            letter-spacing: 0.02em;
            text-transform: uppercase;
            color: #fff;
            // background: rgba($color: #ae2012, $alpha: 0.7);
            padding: 25px;
            display: inline-block;
        }
    }
}